@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{padding-left:10px;padding-right:10px}
body {background: #f5f5f5;font-family: sans-serif;}
.error-msg{color: red;text-align: center;margin-top: 200px;font-size: 28px;display: none;}
.instagram_login_btn{margin-top: 200px}
.main_row{margin:90px 80px 0; background: #009688;}
.photo_row{margin:0 80px; background: #ecebeb;}
.logout_row{margin:15px 0;}
.profile_col1{padding:20px;}
.profile_col2{padding:20px;border-left: 1px solid #ecebeb;}
.font-16{font-size: 16px;}
.font-bold{font-weight: bold;}
.profile_details_row{padding: 10px 0}
.big-img-close-btn{vertical-align:top;margin-left:-25px;height:20px;}
#load_more{margin-top: 50px;}
